/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6; /* sets background color of body portion of page */
}

header { /* sets size and color of header bar at top of page as well as font and font color  */
    padding: 20px; /* sets size of header bar at top of page */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* sets font of header */
    background-color: #2a607c; /* sets color of header bar at top of page */
    color: #ffffff; /* sets font color of the header */
}

header h1 { /* sets top login in block form and sets font size */
    display: inline-block; /* sets header to display as a block */
    font-size: 48px; /* sets size of header font */
}

header h1 .seo { /* changes part of company name in header to different font color */
    color: #d9dcd6;
}

header nav { /* sets style rules for the navigation bar at top of page */
    padding-top: 15px;
    margin-right: 20px;
    float: right; /* shift the elements of the nav bar to align on the right */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul { /* sets list style type for list of navigation bar items */
    list-style-type: none;
}

header nav ul li { /* sets style for individual items of nav bar */
    display: inline-block;
    margin-left: 25px; /* sets margin between nav bar list items and element directly to the left */
}

a { /* sets style rules for linked nav bar */
    color: #ffffff;
    text-decoration: none;
}

p { /* sets font size of paragraph text displayed throughout the page */
    font-size: 16px;
}

.hero { /* sets size, margin, image, and position of main image in middle of page */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /* shifts two of the images in the main section of the page to the left of the text */
    float: left;
    margin-right: 25px;
}

.float-right { /* shift the remaining image in the main section of the page to the right of the text */
    float: right;
    margin-left: 25px;
}

aside { /* sets style rules for the side "benefits" panel of the page */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section { 
    margin-bottom: 32px; /* sets margin space between sections of the aside portion of the screen and the elements directly under them */
    color: #ffffff;
}


aside h3 { 
    margin-bottom: 10px;
    text-align: center;
}

aside img { /* sets style of the icons found in the side "benefits" portion of the page */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

main { /* sets style rules for the main portion of the page */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section { /* sets style rules for the three sections in the main portion of the page */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px; /* sets size of sections */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* sets font of text in sections */
    background-color: #0072bb; /* sets background color of sections */
    color: #ffffff; /* sets font color of text in sections */
}

main img { /* sets size of the images in the main portion of the page */
    max-height: 200px;
}

main h2 { /* sets bottom margin and font size of the headers of the sections in the main portion of the page */
    margin-bottom: 20px;
    font-size: 36px;
}

footer { /* sets style rules for the footer of the page */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* sets font style of text in the footer */
    text-align: center; /* centers text in footer */
}

footer h2 { /* sets style rules for the heading of the footer of the page */
    font-size: 20px; /* sets font size of the text in the heading of the footer */
}